{% extends "basefront.html.twig" %}
{% block body %}
    <div class="row mt-3">
        <div class="col">
            <!-- emplacement de la vidéo -->
            {% if formation.videoid %}
                <iframe width="560" height="315" 
                        src="https://www.youtube.com/embed/{{ formation.videoid }}" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>                          
            {% endif %}
        </div>
        <div class="col">
            <h5> {{ formation.publishedatstring }}</h5>
            <h3 class="text-info mt-5">{{ formation.title }}</h3>
            <p>&nbsp;</p>
            <p><strong>description :</strong></p>
            <p>
                {{ formation.description|nl2br }}
            </p>
        </div>
    </div>
{% endblock %}