{% extends "basefrontadmin.html.twig" %}

{% block body %}
    <h2>Modification de la formation </h2> 
    <h3>{{ formation.title }}</h3>
    {{ include ('_admin.formations.form.html.twig') }}
{% endblock %}